.preview__body {
    width: 100%;
}

.preview__body-content {
    // min-width: 350px;
    // min-height: 350px;
    border: 1px solid rgba(143, 143, 255, 0.555);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}