.main {
    min-height: 100%;
}

.main__content {
    display: flex;
    justify-content: space-around;
}

.preview {
    flex: 0 1 50%;
}

._container {
    padding: 0 15px;
}

.parameters {
    flex: 0 1 50%;
}