input,
textarea,
select,
option,
button {
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.mat-grid-tile {
    overflow: initial;
}

.main__content {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 1280px;
}

.preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 30%;
    height: 100%;
}

._container {
    padding: 15px;
}

.parameters {
    display: flex;
    max-height: 100%;
    flex: 0 1 60%;
}

.parameter-forms {
    padding: 0 5px;
}


.body-preview {
    display: block;
    border: 2px solid rgba(137, 137, 255, 0.63);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}



.export__buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;

    >button {
        margin-bottom: 5px;
    }

    >:nth-child(1) {
        margin-right: 5px;
    }

    >:nth-child(2) {
        margin-right: 5px;
    }
}

.preview__body-content {
    display: block;
    position: relative;
}

.content-parameter {
    width: 100%;
}

.title {
    background-color: rgba(182, 182, 197, 0.603);
}

.mat-form-upload {
    width: 75%;
}

.size-input {
    margin-left: 12px;
    width: 70px;
}

.input-image-position {
    margin-top: 18px;
    width: 100%;
}

.choose-bg-color {
    margin-right: 5px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.choose-bg-color-grad {
    transition: .5s;
    animation: show .3s 1;
    animation-fill-mode: forwards;
    animation-delay: .3s;
    -webkit-animation: show .3s 1;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.choose-color {
    width: 50%;
}

.text-field-wrap {
    margin-top: 18px;
    width: 90%;
}

.text-field.ng-touched.ng-invalid {
    border-color: red;
}

.setting-option__items {
    margin-top: 10px;
}

.item-option {
    width: 75%;
}

.color-text {
    max-width: 90%;
}

.text-width-input {
    margin-top: 20px;
}

.position-option {
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: space-around;
}

.banner-link {
    text-decoration: none;
}

.link-input {
    display: flex;
    justify-content: center;
    padding: 10px;
}