pre:hover {
    cursor: move;
}

pre:active {
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2),
        0 4px 6px 1px rgba(0, 0, 0, 0.14),
        0 1px 7px 2px rgba(0, 0, 0, 0.12);
}

input,
textarea,
select,
option,
button {
    cursor: pointer;
}

.main {
    min-height: 100%;
}

.main__content {
    display: flex;
    justify-content: space-around;
}

.preview {
    flex: 0 1 50%;
}

._container {
    padding: 0 15px;
}

.parameters {
    flex: 0 1 50%;
}

.body-preview__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(137, 137, 255, 0.63);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.choice-color {
    padding: 3px;
    max-width: 25px;
    max-height: 25px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.text-field {
    width: 350px;
    resize: none;
}

.text-field.ng-touched.ng-invalid {
    border-color: red;
}

.preview__body-content {
    display: block;
    position: relative;
}

.banner-link {
    text-decoration: none;
}


// #download {
//     display: none;
// }