<main class="main">
  <div class="main__content container">
    <div class="preview _container">
      <div class="preview">
        <div class="preview__title">
          <h3 class="title-preview">Заголовок превью</h3>
        </div>
        <div class="preview__body body-preview">
          <div class="body-preview__wrap" #content
            [style]="{width: parameterForm.get('width').value + 6 + 'px',height: parameterForm.get('height').value + 6 + 'px'}">
            <div #screen class="preview__body-content" [style]="{
              width: parameterForm.get('width').value + 'px',
              height: parameterForm.get('height').value + 'px',
              backgroundRepeat: !parameterForm.get('bgGradient').value && 'no-repeat',
              backgroundImage: 'url(' + cardImageBase64 + ')',
              backgroundColor: defaultColor,
              background: parameterForm.get('bgGradient').value
                ? 'linear-gradient(' +
                  parameterForm.get('colorDirection').value +
                  'deg, ' +
                  defaultColor +
                  ', ' +
                  defaultGradientColor +
                  ')'
                : '',
              backgroundPosition: parameterForm.get('imgPosition').value,
              backgroundSize: parameterForm.get('imgCover').value
            }">
              <pre [style]="{
                  display: 'block',
                  position: 'absolute',
                  width: parameterForm.get('widthText').value + 'px',
                  lineHeight: lineHeightDefault,
                  maxHeight: parameterForm.get('fontSize').value * lineHeightDefault * maxLinesOfText + 'px',
                  whiteSpace: 'pre-wrap',
                  wordWrap: 'break-word',
                  overflow: 'hidden',
                  textAlign: parameterForm.get('textAlign').value,
                  fontFamily: parameterForm.get('fontFamily').value,
                  fontSize: parameterForm.get('fontSize').value + 'px',
                  fontWeight: parameterForm.get('fontWeight').value,
                  color: defaultTextColor
                }" cdkDragBoundary=".preview__body-content" cdkDrag>{{ parameterForm.get('text').value }}</pre>
              <a [href]="'http://' + parameterForm.get('link').value" class="banner-link" target="_blank"
                style="display: block; height: 100%;"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="parameters _container">
      <div class="parameter-forms">
        <div class="parameter__title">
          <h3 class="title-parameter">Параметры</h3>
        </div>
        <div class="parameter__content content-parameter">
          <form [formGroup]="parameterForm">
            <div class="content-parameter__size">
              <div class="content-size__item">
                <label class="size-label" for="horizontal">
                  Ширина макета
                  <span id="horizontal-value" class="size-value">{{
                    parameterForm.get("width").value
                  }}</span>px
                </label>
                <div class="range">
                  <input type="number" min="100" max="500" formControlName="width" />
                </div>
              </div>
              <div class="content-size__item">
                <label class="size-label" for="vertical">
                  Высота макета
                  <span id="vertical-value" class="size-value">{{
                    parameterForm.get("height").value
                  }}</span>px
                </label>
                <div class="range">
                  <input id="vertical" type="number" min="100" max="500" formControlName="height" />
                </div>
                <div class="size-option"></div>
              </div>
            </div>
            <div class="content-parameter__image">
              <div class="image-selection">
                <label for="image"> Загрузить изображение: </label>

                <input id="image" type="file" formControlName="bgImage" (change)="previewFile($event)" />
              </div>
              <div class="image-position">
                <select id="image-center" formControlName="imgPosition">
                  <option *ngFor="let position of bgPosOptions" [ngValue]="position[1]">
                    {{ position[0] }}
                  </option>
                </select>
                <select id="image-size" formControlName="imgCover">
                  <option *ngFor="let size of bgSizeOptions" [ngValue]="size[1]">
                    {{ size[0] }}
                  </option>
                </select>
              </div>
            </div>
            <div class="choice-color__option option-color">
              <label for="colorFrom"> Выбрать цвет </label>
              <input id="colorFrom" class="choice-color color-input" [(colorPicker)]="defaultColor"
                [style.background]="defaultColor" formControlName="bgColorFrom" />

              <input type="checkbox" id="gradient" formControlName="bgGradient" /><label for="gradient">Градиент</label>
              <div class="option-color__gradient" *ngIf="parameterForm.get('bgGradient').value">
                <label for="colorTo"> Второй цвет </label>
                <input id="colorTo" class="choice-color color-input" [(colorPicker)]="defaultGradientColor"
                  [style.background]="defaultGradientColor" formControlName="bgColorTo" />

                <label for="direction"> Направление </label>
                <input id="direction" type="range" formControlName="colorDirection" min="0" max="360" />
              </div>
            </div>
            <div content-parameter__text text-option>
              <div class="text-option__input">
                <label for="text"> Введите текст баннера </label>
                <textarea id="text" class="text-field" [placeholder]="textAreaPlaceholder" rows="3"
                  formControlName="text"></textarea>
              </div>
              <div class="text-option__setting">
                <select *ngFor="let item of textConfigList" formControlName={{item.control}}>
                  <option *ngFor="let value of item.selectValue; let i = index" [ngValue]="item.styleValue[i]">{{value}}
                  </option>

                </select>
                <label for="text-field-width">Ширина текста</label>
                <input type="range" formControlName="widthText" id="text-field-width" min="50"
                  [max]="parameterForm.get('width').value">
                <label for="color-text"> Цвет текста </label>
                <input id="color-text" class="choice-color color-text" [(colorPicker)]="defaultTextColor"
                  [style.background]="defaultTextColor" formControlName="textColor" />

              </div>
            </div>
            <div>
              <label for="url">Ссылка для баннера: http://</label>
              <input id="link" type="text" [placeholder]="inputLinkPlaceholder" formControlName="link" />
            </div>
          </form>
        </div>
      </div>
      <div class="export">
        <div class="export__title">
          <h3 class="title-export">Экспорт баннера</h3>
        </div>
        <div class="export__buttons" #container>
          <button class="to__png" (click)="downloadImage()">в PNG</button>
          <button class="to__html" (click)="copyContent()">в
            HTML</button>
          <button class="to__json" (click)="copyConfig()">в JSON</button>
        </div>
      </div>
    </div>
  </div>
  <div id="download">
    <img #canvas>
    <a #downloadLink></a>
  </div>
</main>
