/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    color: rgb(47, 47, 47);
    box-sizing: border-box;
}

@import '~normalize.css/normalize.css';
@import '~roboto-fontface/css/roboto/roboto-fontface.css';


html,
body {
    height: 100%;
    font-family: roboto;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1180px;
}