/* You can add global styles to this file, and also import other style files */
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
    display: block;
    height: 100vh;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}